<!doctype html>
<html ng-app="myApp">

<head>
		<link href="https://s3.amazonaws.com/codecademy-content/projects/bootstrap.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="css/main.css">
		<link href='https://fonts.googleapis.com/css?family=Roboto:500,300,700,400' rel='stylesheet' type='text/css'>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
</head>

<body>
		<div class="header">
				<div class="container">
						<h1>Angular Things...🤓</h1>
						<div ng-controller="webDev"><p> Made by and for: {{myJob}}</p></div>
				</div>
		</div>
		<div class="main" ng-controller="MainController">
				<div class="container"> 
					<h3> User: {{myName}} </h3>
						<div class="separator">
								<h1>{{ title }} </h1>
								<h2>Playing with Angular...</h2>
								<h3>{{ promo }} </h3>

								<input type="text" ng-model="favoriteGame" />
								<p>Game: - {{favoriteGame}}</p>
						</div>
						<div class="separator">
								<form class="form navbar-form">
										<input type="radio" value="IronMan" ng-model="favoriteSuperhero" /> IronMan
										<input type="radio" value="CaptainAmerica" ng-model="favoriteSuperhero" /> CaptainAmerica
										<input type="radio" value="Hulk" ng-model="favoriteSuperhero" /> Hulk
										<input type="radio" value="Thor" ng-model="favoriteSuperhero" /> Thor
										<p class="bold"> -> {{favoriteSuperhero}} </p>
										<input type="text" ng-model="value" />
										<span ng-class="{bold: isBold(), italic: isItalic(), underline: isUnderlined(), funkyTime: isFunky()}"> => Example Text - {{funky}}</span>
								</form>
						</div>
						<div class="separator">
								<table class="table table-hover">
										<thead>
												<tr ng-repeat="country in countries">
														<td>{{country.id}}</td>
														<td>{{country.name}}</td>
														<td>{{country.population}}</td>
														<td>{{country.cont}}</td>
												</tr>
										</thead>
										<tbody>
										</tbody>
								</table>
						</div>
				</div>
		</div>
		<div class="separator footer" ng-controller="secondController">
				<div>
						<input type="checkbox" ng-model="isFirstElementVisible" /> Is first element visible</div>
				<div>
						<input type="checkbox" ng-model="isSecondElementVisible" /> Is second element visible</div>
				<div ng-show="isFirstElementVisible">First Element</div>
				<div ng-if="isSecondElementVisible">Second Element</div>
		</div>

		<!-- Modules -->
		<script src="js/app.js"></script>
		<!-- services -->
		<script src="js/services.js"></script>
		<!-- Controllers -->
		<script src="js/MainController.js"></script>
</body>

</html>

</html>
